// Mixins
@mixin shadow-start {
  width: 70%;
  height: 15%;
  opacity: .06;
}
@mixin shadow-end {
  width: 50%;
  height: 10%;
  opacity: .03;
}
@mixin eye-open {
  clip-path: ellipse(40% 25% at 50% 50%);
}
@mixin eye-closed {
  clip-path: ellipse(40% 2% at 50% 50%);
}
@mixin float-up {
  transform: translateY(0);
}
@mixin float-down {
  transform: translateY(-8%);
}
@mixin eyeball-shake-start {
  transform: translate(-55%, -165%);
}
@mixin eyeball-shake-end {
  transform: translate(-45%, -155%);
}


// Animations
@keyframes eye-float {
    0% {
      @include float-up; 
    }
    50% {
      @include float-down; 
    }
    100% {
      @include float-up
    }
}
@keyframes eye-shadow {
    0% {
      @include shadow-start;
    }
    50% {
      @include shadow-end;
    }
    100% {
      @include shadow-start;
    }
}
@keyframes eye-blink {
  0%, 47% {
    @include eye-open;
  }
  50%{ 
    @include eye-closed; 
  }
  53%, 100%{
    @include eye-open;
  }
}
@keyframes eye-ball-shake {
  0%{
    @include eyeball-shake-start;
  }
  50%{
    @include eyeball-shake-end;
  }
  100%{
    @include eyeball-shake-start;
  }
}

.eye {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: +1;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vw;
  min-width: 150px;
  min-height: 150px;
  &__lid {transition: 0.2s ease-in;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    animation: eye-float 3s infinite, eye-blink 10s infinite ease-in;
    transition: all 2s;
    overflow: hidden;
    @include eye-open;
  }
  &__ball {
    border-radius: 100%;
    width: 5vw;
    height: 5vw;
    min-width: 35px;
    min-height: 35px;
    background-color: $green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 2s, background-color 2s;
  }
  &__shadow {
    @include shadow-start;
    border-radius: 100%;
    background-color: black;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: eye-shadow 3s infinite;
  }
  &--static {
    .eye__lid {
      background: url(../images/content/static.gif) center;
      backgrond-size: 100%;
    }
    .eye__ball {
      transform: translate( -50%, -160%);
      animation: eye-ball-shake .3s infinite;
    }
  }
  &--first-nav {
    .eye__ball {
      transform: translate(-90%,-85%);
      background-color: $blue;
    }
  }
  &--second-nav {
    .eye__ball {
      transform: translate(-50%,-90%);
      background-color: $yellow;
    }
  }
  &--third-nav {
    .eye__ball {
      transform: translate(-15%,-90%);
      background-color: $pink;
    }
  }
}