.main-nav {
  @include headline-font;
  text-align: center;
  padding: 2em 0;
  &__con {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
    &--first-nav:hover {
      .main-nav__link {
        color: $green;
      }
    }
    &--second-nav:hover {
      .main-nav__link {
        color: $yellow;
      }
    }
    &--third-nav:hover {
      .main-nav__link {
        color: $coral;
      }
    }
  }
  &__link {
    color: $lightBlue;
    font-size: 2em;
    text-decoration: none;
    transition: color .5s, text-shadow .5s;
    &:hover {
      text-shadow: 0px 0px 12px rgba(150, 150, 150, .7);
    }
  }
}