.work {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9IiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNmZmYiPjwvcmVjdD4KPC9zdmc+");
  opacity: .1;
  width: 200vw;
  height: 250vh;
  transform: rotateX(70deg) translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom;
}