.work {
  background-color: black;
  opacity: .1;
  width: 200vw;
  height: 250vh;
  transform: rotateX(70deg) translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom;
}