<nav class="main-nav">
  <ul class="main-nav__con">
    <li class="main-nav__item">
      <a class="main-nav__link" href="#" title="">work</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link" href="#" title="">about</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link" href="#" title="">contact</a>
    </li>
  </ul>
</nav>