<nav class="main-nav">
  <ul class="main-nav__con">
    <li class="main-nav__item main-nav__item--first-nav">
      <a id="js__main-nav__link__first" class="main-nav__link" href="#" title="">work</a>
    </li>
    <li class="main-nav__item main-nav__item--second-nav">
      <a id="js__main-nav__link__second" id="js__main-nav__link__first" class="main-nav__link" href="#" title="">about</a>
    </li>
    <li class="main-nav__item main-nav__item--third-nav">
      <a id="js__main-nav__link__third" class="main-nav__link" href="#" title="">contact</a>
    </li>
  </ul>
</nav>